body {
    font: 100% Arial;
    margin: 0;
    padding: 0;
}

#title {
    padding: 0 10px 0 20px;
    background: #960000;
}

#title h1 {
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
}

/*canvas {
    padding: 0 10px 0 20px;
    height: 500px;
}*/

.ourHeap {
    height: 450px;
    /*float: right;*/
}

.inputAndButtonForBuildTreap {
    /*    position: relative;
        top: 0;
        left: 10px;*/
}

.error {
    /*    position: absolute;
        top: 50%;
        left: 5px;*/
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;

}

.buttonOrInput {
    position: relative;
    background: #e7adad;
    height: 50px;
    display: flex;

    /*justify-content: center;*/
    /*align-items: center;*/
}

table {
    /*    justify-content: center;
        align-items: center;*/
    margin-left: 15px;
}

.splitOurTreap {
    width: 60px;
}

.removeNode {
    width: 60px;
}

.insertNewNode {
    width: 120px;
}

.buildTreap {
    width: 180px;
}

.MergeOurTreaps {
    width: 180px;
}

code {
    white-space: pre;
    display: block;
}
.code {
    display: block;
}

#closeCode {
    float: right;
    background: #960000;
    width: 50px;
    height: 250px;
}

#code {
    background: #e7adad;
    float: right;
    width: 410px;
    height: 250px;
    display: block;
}